.culmns .col-md-3 {
    border: 2px solid red;
    padding: 20px;
    height: 30px;
    width: 30px;
}

td {
    border: 1px solid black;
    margin-right: 0px;
    padding-right: 0px;
}  

.userActnBlk{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: lightblue;
    text-align: center;
}
.userActnBlk button{
    padding: 5px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    width: auto;
    border: 0px;
    z-index: 10;
    box-shadow: 2px 2px 2px 2px blue;
}

.userActnBlk button{
    padding: 5px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    width: auto;
    border: 0px;
    z-index: 10;
    box-shadow: 2px 2px 2px 2px blue;
}

.userActnBlk button:focus{
    opacity:0.8;
}
.table-simple{
    margin-bottom: 3.5em;
    margin-top: 1.5em;
    /* max-height: 100vh;
    overflow-y: scroll; */
}

#fileInput{
display: none;
}

.butn{
    padding: 10px;
    z-index: 0;
    outline: none;
}
.butn:hover{
    z-index: 10;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background-color: grey;
    color: white;
}

